{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %} Ajuda - Spotify {% endblock %}

{% block 'conteudo' %}


    <section id="servicos" class="caixa"> <!-- Inicio sessão -->
      <div class="container">
        <div class="row">

          <div style="padding-top: 70px;" class="col-md-6"> <!-- textos da sessão -->

            <h2>Menu de ajuda</h2>
          </div>
        </div>
      </div>
    </section> <!-- Final sessão -->

    <section id="recursos" class="caixa"> <!-- Inicio sessão -->
      <div class="container">
        <div class="row">
          <div class="col-md-4"> <!-- textos da sessão -->

            <h2>Facil</h2>

            <h3>Buscar</h3>
            <p>Lorem Ipsum é simplesmente um texto fictício da indústria</p>

            <h3>Navegar</h3>
            <p>Lorem Ipsum é simplesmente um texto fictício da indústria</p>

            <h3>Descobrir</h3>
            <p>Lorem Ipsum é simplesmente um texto fictício da indústria</p>

          </div>

          <div class="col-md-8 d-none d-md-block"> <!-- imagem rotacionada -->
            <div class="row rotacionar">
              <div class="col-md-6">
                <img src="{% static 'imagens/iphone1.png' %}" class="img-fluid">
              </div>

              <div class="col-md-6">
                <img src="{% static 'imagens/iphone2.png' %}" class="img-fluid">
              </div>
            </div>
          </div>

        </div>
      </div>
    </section> <!-- Final sessão -->
{% endblock %}